.button {
	background: none;
	border: none;
	position: relative;
}

.quantity {
	position: absolute;
	right: -0.5rem;
	bottom: -0.4rem;
	display: block;
	width: 1.0625rem;
	height: 1.0625rem;
	border-radius: 50%;
	background-color: var(--red);
	font-size: 0.625rem;
	line-height: 1.0625rem;
	color: var(--white);
	font-weight: 500;
}
