.container {
	max-width: var(--max-width);
	margin: auto;
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2rem;
}

.summaryHeader {
	margin-top: 1.25rem;
	margin-bottom: 1.5rem;
	color: var(--text-02);
}

.summaryHeader h1 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.375rem;
}

.summaryHeader p {
	font-weight: 300;
}

.summaryHeader strong {
	font-weight: 600;
}

.itemsList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
