.main {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 2rem 1.5rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 1.5rem 2rem;
}

.menu,
.nav,
.sort {
	display: flex;
	align-items: center;
}

.menu {
	justify-content: space-between;
	margin-bottom: 1.5rem;
	color: var(--text-01);
}

.nav {
	gap: 2.5rem;
}

.sort {
	gap: 0.5rem;
	font-size: 0.875rem;
}
